* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.card {
    background-color: rgb(204, 204, 204);
    border-radius: 5px 5px;
    width: 300px;
    margin-top: 20px;
}

.gatto2 {
    background-color: rgb(204, 204, 204);
    border-radius: 5px 5px;
    width: 300px;
    margin-top: 20px;
}

.gattino {
    background-color: rgb(204, 204, 204);
    border-radius: 5px 5px;
    width: 300px;
    margin-top: 20px;
}

img {
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

@media only screen and (max-width: 768px) {
    section {
        display: grid;
        grid-template-areas:
            " card gatto2 "
            "gattino .";
    }
}


@media (max-width: 375px) {
    section {
        display: block;
        margin-left: 20px;
    }
}